@{
    ViewBag.Title = "Contact Us";
}
@{ 
    ViewBag.Message = "UW-Madison Phi Delta Theta Alpha Chapter";
}

<link href="~/Content/Layout.css" rel="stylesheet" type="text/css">
<link href="~/Content/Main.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular"rel="stylesheet"type="text/css">
<link href="~/Content/StickyNotes.css" rel="stylesheet" type="text/css">

<div class="wrapper">
<h2>@ViewBag.Title</h2>
<h12>@ViewBag.Message</h12>
<br />
<address class="address">
    2 South Campus Avenue<br />
    Oxford, OH 45056-1801<br />
    <abbr title="Phone">P:</abbr>
    (513) 523-6345
</address>
    <ul1>
        <li1>
            <a href="bstruthers@wisc.edu">
                <h2><strong>President:</strong></h2>
                <p>Brett Struthers bstruthers@wisc.edu <br /> (952) 452-6009 </p>
            </a>
        </li1>
        <li1>
            <a href="#">
                <h2><strong>VicePresident:</strong></h2>
                <p>Nick Lemmer <br /> nlemmer@wisc.edu</> <br /> (920) 246-6341</p>
            </a>
        </li1>
        <li1>
            <a href="#">
                <h2><strong>Rush Chair:</strong></h2>
                <p>Nick Lemmer <br /> nlemmer@wisc.edu</> <br /> (920) 246-6341</p>
            </a>
        </li1>
        <li1>
            <a href="#">
                <h2><strong>Social Chair:</strong></h2>
                <p>Kendall W. <br /> kwerneiwski@wisc.edu <br /> (952) 452-6009</p>
            </a>
        </li1>
    </ul1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>
