@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Meet the Brothers at Madison";
}

<link href="~/Content/Layout.css" rel="stylesheet" type="text/css">
<link href="~/Content/Main.css" rel="stylesheet" type="text/css">

<div class="content wrapper">
    <!-- start slipsum code -->

    <h2>@ViewBag.Title</h2>
    <h1>@ViewBag.Message</h1>

    <p>This is where all the info on the brothers will go</p>

    <h1>Are you ready for the truth?</h1>
    <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

    <!-- please do not remove this line -->

    <div style="display:none;">
        <a href="http://slipsum.com">lorem ipsum</a>
    </div>

    <!-- end slipsum code -->

</div>