@{
    Layout = "~/Views/Shared/_TeaserLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link href="../Content/TeaserPage.css" rel="stylesheet" type="text/css">

</head>
<body>
    <a href="/Home/Index" class="button_enter">Enter the Website > </a>
    <a href="/Account/Login" class="button_login">member login > </a>

</body>


